<!doctype html>
<html lang="zh">


<div style="height: 2500px;">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intel's AEP observing system</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/default.css">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>

    <body>
        <header id="Header">
        <div class="htmleaf-header">
                <h1>Remote Persistent Memory Access</h1>
            </div>
            <div id="setup">
                <div class="server_info">
                    <div class="tab">
                        <table border="1">
                            <tr>
                                <td class="td_title">CPU Processor</td>
                                <td class="td_info">Cascade Lake</td>
                            </tr>
                            <tr>
                                <td class="td_title">CPU(s)</td>
                                <td class="td_info">96</td>
                            </tr>
                            <tr>
                                <td class="td_title">Socket(s)</td>
                                <td class="td_info">2</td>
                            </tr>
                            <tr>
                                <td class="td_title">Thread(s) per core</td>
                                <td class="td_info">2</td>
                            </tr>
                            <tr>
                                <td class="td_title">Core(s) per socket</td>
                                <td class="td_info">24</td>
                            </tr>
                            <tr>
                                <td class="td_title">OS system</td>
                                <td class="td_info">Fedora 30</td>
                            </tr>
                            <tr>
                                <td class="td_title">Kernel</td>
                                <td class="td_info">5.4.14</td>
                            </tr>
                            <tr>
                                <td class="td_title">DRAM</td>
                                <td class="td_info">32GB*12</td>
                            </tr>
                            <tr>
                                <td class="td_title">NVMe SSD</td>
                                <td class="td_info">1.6T*16</td>
                            </tr>
                        </table>
                    </div>
                    <div class="img">
                        <img src="../static/img/NVMe_1.png" width=500px height=440px style="border:2px solid #3A3F44">
                    </div>
                </div>
                <div class="GaugeMeter" id="PreviewGaugeMeter_0" data-bind="gaugeValue: Percent" data-prepend=null
                data-append="%" data-size="256" data-theme="White" data-back="#373B40" data-color="#66AA00"
                data-animate_gauge_colors="1" data-animate_text_colors="1" data-width="20" data-prelabel="CPU_0 Usage"
                data-prelabel_color="#BBBBBB" data-label_color="#BBBBBB" data-postlabel_color="#BBBBBB"
                data-animationstep="0">
                </div>
                <div class="server_info">
                    <div class="img">
                        <img src="../static/img/RPMA_1.png"  width=500px height=440px style="border:2px solid #3A3F44">
                    </div>
                    <div class="tab">
                        <table border="1">
                            <tr>
                                <td class="td_title">CPU Processor</td>
                                <td class="td_info">Cascade Lake</td>
                            </tr>
                            <tr>
                                <td class="td_title">CPU(s)</td>
                                <td class="td_info">{{sys_info.cpu}}</td>
                            </tr>
                            <tr>
                                <td class="td_title">Socket(s)</td>
                                <td class="td_info">{{sys_info.sockets}}</td>
                            </tr>
                            <tr>
                                <td class="td_title">Thread(s) per core</td>
                                <td class="td_info">{{sys_info.threads}}</td>
                            </tr>
                            <tr>
                                <td class="td_title">Core(s) per socket</td>
                                <td class="td_info">{{sys_info.cores}}</td>
                            </tr>
                            <tr>
                                <td class="td_title">OS system</td>
                                <td class="td_info">Fedora 31</td>
                            </tr>
                            <tr>
                                <td class="td_title">Kernel</td>
                                <td class="td_info">5.3.7</td>
                            </tr>
                            <tr>
                                <td class="td_title">DRAM</td>
                                <td class="td_info">16GB*12</td>
                            </tr>
                            <tr>
                                <td class="td_title">AEP</td>
                                <td class="td_info">256GB*12</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
                                  
            <div id="boxx">
                <div id="anniu">
                    <button id="read" class="button" style="color:rgb(235, 125, 22);" onclick="select('read_rpma')">Read_RPMA</button>
                    <button id="write" onclick="select('write_rpma')" class="button" style="color:rgb(241, 148, 8);" >Write_RPMA</button>
                </div>
                
                <div id="pointer1">
                    <label style="color:#7cb5ec;">NVMe_lat(usec): </label>
                    <label id="nvme_lat">0</label>
                    <label style="color:#90ed7d;">DRAM_lat(usec): </label>
                    <label id="dram_lat">0</label>
                    <label id="name_lat" style="color:#f7a35c;">RPMA_lat(usec): </label>
                    <label id="rpma_lat">0</label>
                    <label id="name_th" style="color:#f7a35c;">RPMA_Threads:</label>
                    <label class="rpma_threads">0</label>
                </div>            
            </div>

            <div id="charts_2">
                <div id="container2"; data-highcharts-chart="1"></div>
            </div>

            <div id="boxx2">
                <div id="pointer1">
                    <label style="color:#7cb5ec;">NVMe_bw(GiB/s): </label>
                    <label id="nvme_bw">0</label>
                    <label style="color:#90ed7d;">DRAM_bw(GiB/s): </label>
                    <label id="dram_bw">0</label>
                    <label style="color:#f7a35c;">RPMA_bw(GiB/s): </label>
                    <label id="rpma_bw">0</label>
                    <label style="color:#f7a35c;">RPMA_Threads:</label>
                    <label class="rpma_threads">0</label>
                </div>
            </div>

            <div id="charts">
                <div id="container"; data-highcharts-chart="0"></div>
            </div>

        </header>


        <script src="../static/js/jquery-2.1.1.min.js"></script>
        <script src="../static/js/GaugeMeter.js"></script>
        <script src="../static/js/highcharts.js"></script>
        <script src="../static/js/exporting.js"></script>
        <script src="../static/js/export-data.js"></script>
        <script src="../static/js/instance_info_bw_demo.js"></script>
        <script type="text/javascript">
            </script>
    </body>
</div>

</html>
